#title-menu {
    display: block;
    color: var(--dark-purple);
    font-size: 4vmin;
    font-weight: 700;
    margin-left: 3rem;
    margin-top: 50px;

}

#new-item-generator {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 25px;
    height: 65px;
}
.nig-horizontal {
    margin: 0px 20px;
}

.small-button {
    border: none;
    border-radius: 5px;

    width: 10vmin;
    height: 50px;
    margin-top: 25px;

    color: white;
    font-size: 2.5vmin;
    font-weight: 700;
}
.small-input {
    width: 30vmin;
    height: 50px;
}

.menu-field {
    margin: 50px 0px;
    margin-left: 3rem;
}
.field-name {
    font-size: 1.8vmin;
    font-weight: 200;
    color: var(--dark-purple);
}
.field-input {
    width: 50vmin;
    height: 50px;
}

#double-name {
    width: 40vmin;
    height: 50px;
}
#double-extension {
    width: 9.5vmin;
    height: 50px;
}

.buttons {
    margin-top: 75px;
    margin-left: 3rem;
}
.menu-button {
    border: none;
    border-radius: 5px;

    width: 50vmin;
    height: 50px;
    margin-bottom: 20px;

    color: white;
    font-size: 2.5vmin;
    font-weight: 700;
}
#button-save {
    background-color: var(--green);
}
#button-dl {
    background-color: var(--red);
}
#button_ajouter{
    background-color: var(--green);
}

#form_type_int{
    display: none;
}

#form_type_varchar{
    display: block;
    height: 60px;
}

#form_type_date{
    display: none;
}